.recursive-square-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.square {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
